@model AgreementManagement.Models.Agreement.AgreementCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<link href="~/css/Agreement/create.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<script src="~/js/Agreement/create.js"></script>

<div class="row">
    <div class="col-md-12">
        <form id="frmAgreementCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" id="hfProductID" value="@Model.ProductId" class="form-control" />
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Agreement Information</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ProductGroupId" class="control-label"></label>
                                        @Html.DropDownListFor(c => c.ProductGroupId, SelectListHelper.ProductGroupList(), "-- Select --", new { @class = "form-control" })
                                        <span asp-validation-for="ProductGroupId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ProductId" class="control-label"></label>
                                        @Html.DropDownListFor(c => c.ProductId, Enumerable.Empty<SelectListItem>(), "-- Select --", new { @class = "form-control" })
                                        <span asp-validation-for="ProductId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="EffectiveDate" class="control-label"></label>
                                        <input asp-for='EffectiveDate' class="form-control datepicker" type="text" autocomplete="off" />
                                        <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ExpirationDate" class="control-label"></label>
                                        <input asp-for="ExpirationDate" class="form-control datepicker" type="text" autocomplete="off" />
                                        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="NewPrice" class="control-label"></label>
                                        <input asp-for="NewPrice" class="form-control" />
                                        <span asp-validation-for="NewPrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />


